services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: fekm
      POSTGRES_PASSWORD: fekm
      POSTGRES_DB: fekm
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
